/* General styling */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #242222;
  background-color: #fff;

  margin: 0;
  padding: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
